 
::-webkit-scrollbar {
  width: 8px;
  height:23px;
}

/* Track */
::-webkit-scrollbar-track {
 background:rgba(255,255,2550,0.1);
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D1D3D6;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

 




body{
  
 height:100vh;
 
 overflow-y: hidden;
  overflow-x: hidden;
  
  padding:0px;
  margin:0px;
  
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(206,217,233,1) 100%);
}


@media only screen and (min-width: 1000px) {



body{text-align:center;}

#konfig_border{
width:calc(100% - 100px);
height:calc(100% - 100px);
 
border-radius:20px;
position:relative;
display:inline-block;
vertical-align:top;
text-align:center;
margin:40px;

}


#title_3{
width:300px;
height:50px;
position:absolute;
left:calc(50% - 150px);
bottom:0px;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
font-weight:400;
text-align:center;
 
border-radius:10px;
line-height:50px;
 border:rgba(255,255,255,0.6) solid 1px;
			
}





#logo_1{
width:200px;
 
position:absolute;
left:100px;
top:50px;
}


#cover{
height:100%;
text-align:center;
}



#title_1{
width:100%;
position:absolute;
left:0px;
bottom:100px;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:100;
letter-spacing:5px;
text-align:center;
}


#title_2{

position:absolute;
left:60px;
bottom:330px;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:56px;
font-weight:600;
}






#logo{
width:200px;
 
position:absolute;
left:150px;
top:50px;
}


  

#cover2{
width:70%;
height:400px;
position:absolute;
left:70px;
top:300px;
 text-align:left;
color:rgba(255,255,255,0.6);
font-family:Arial, Helvetica, sans-serif;
font-size:60px;
font-weight:800;
 text-shadow: -15px 2px 20px rgba(206, 210,211,0.2);
} 





#model{
width:100px;
height:200px;
margin:10px;
 
}




#scroller{
width:90%;
height:340px;
position:absolute;
left:50px;
bottom:30px;
 
white-space:nowrap;
overflow-x:auto;


}












 
 
 #cart{
width:22px;
 
position:absolute;
right:20px;
top:20px;

 padding:15px;
border-radius: 8px;
 z-index:99999999;
 z-index:99999999;
 border:rgba(255,255,255,0.7) solid 1px;

}



#model_img{
width:22px;
 
position:absolute;
right:84px;
top:20px;

 padding:15px;
border-radius: 8px;
background-image: radial-gradient(circle, #641e43, #55193a, #471431, #390f28, #2c0a1f);
z-index:99999999;
 z-index:99999999;
border:rgba(255,255,255,0.7) solid 1px;
}
 



#nav_icon{
border-radius:10px;
height:24px;
display:inline-block;
vertical-align:top;
text-align:center;
padding:10px;
 
transition: 0.5s;
		background-image: radial-gradient(circle, #9f175f, #801650, #621340, #460f30, #2c0a1f);
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px rgba(255,255,255,0.4);
          
         
}

 
		 
		 
 
 
 
 
 
 #footer{
height:240px;
width:100%;
position:absolute;
left:0px;
bottom:10px;

 
}


#footer_in{
height:100%;
width:100%;
position:relative;

}








#main_nav{
position:absolute;
width:96%;
height:100px;
top:0px;
overflow-x: auto;
white-space: nowrap;
padding:10px;
left:10px;

}


#sec_nav{
position:absolute;
width:96%;
height:90px;
top:125px;
overflow-x: auto;
white-space: nowrap;
padding:10px;
left:10px;
 font-family:Arial, Helvetica, sans-serif;
 color:#FFFFFF; 
}


#nav_typ{
height:50px;
display:inline-block;
vertical-align:top;
text-align:center;
margin:10px;
margin-right:30px;
animation: fadein 2s;
-moz-animation: fadein 2s; /* Firefox */
-webkit-animation: fadein 2s; /* Safari and Chrome */
-o-animation: fadein 2s; /* Opera */
}




#main_nav_1{
width:100px;
height:70px;
font-size:10px;
color:#FFFFFF;
text-align:center;
margin-right:20px;
 font-family:Arial, Helvetica, sans-serif;
display:inline-block;
vertical-align:top;

     animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
	
}


#main_nav_2{
width:130px;
height:160px;
font-size:18px;
color:#FFFFFF;
text-align:center;
margin-right:40px;
 font-family:Arial, Helvetica, sans-serif;
display:inline-block;
vertical-align:top;


 
}




}
